.dialog-content {
    width: 480px;
}

/deep/.dialog-content .dialog-body {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    .el-radio-group {
        display: block;
        label {
            display: block;
            margin-bottom: 10px;
        }
    }
}

.scan-code {
    text-align: center;
    background: #F8F8F8;
    padding: 18px 0;
    button {
        height: 36px;
        padding: 0 20px;
        background: #FAFCFE;
        border: 1px solid #BBCBDF;
        border-radius: 2px;
        color: #333;
        outline: none;
        cursor: pointer;
    }
    .sure {
        margin-right: 20px;
        background: #438AFE;
        border: 1px solid #438AFE;
        color: #fff;
    }
}

.forward-con {
    width: 680px;
}

.dept {
    background: #F5F8FF;
}

.dialog-content .dialog-body .acc {
    width: 205px;
    height: 400px;
    border: 1px solid #D5D8DE;
    button {
        width: 64px;
        height: 28px;
        background: #438AFE;
        border-radius: 2px;
        padding: 0;
        border: 0;
        font-size: 12px;
        color: white;
        font-weight: bold;
    }
}

/deep/.el-tree {
    background: #F5F8FF;
}

.but-outer {
    height: 45px;
    padding: 8px 10px;
    border-bottom: 1px solid #D5D8DE;
    background: #fff;
}

/deep/#brithday {
    .el-date-editor.el-input {
        width: 144px;
    }
}

/deep/.table-main table .table-right.mini input {
    width: 158px;
    height: 26px;
}

/deep/.el-checkbox-group {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    .el-checkbox {
        padding: 5px 0;
    }
}

.menu-but {
    background-color: #fff;
    padding: 16px 16px 0 16px;
    height: 44px;
    text-align: right;
    button {
        width: 64px;
        height: 28px;
        background: #438AFE;
        border-radius: 2px;
        padding: 0;
        border: 0;
        font-size: 12px;
        color: white;
        font-weight: bold;
        right: 10px;
        cursor: pointer;
    }
}

.orgtree {
    padding: 0 10px;
}

.orgtree-text {
    font-size: 14px;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

/deep/.el-cascader .el-input .el-input__inner {
    width: 100%;
    height: 26px;
}

.orgtree select {
    width: 100%;
    height: 26px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

.dialog-content .dialog-body .alluser {
    p {
        height: 30px;
        line-height: 30px;
        text-align: left;
        margin-bottom: 0;
        padding: 0 10px;
        font-size: 14px;
        color: #606266;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            width: 15px;
            height: 15px;
            cursor: pointer;
        }
    }
    p.choose-user {
        padding: 10px;
        background: #F5F8FF;
        font-weight: bold;
        color: #333;
    }
}

/deep/.orgtree .el-select {
    width: 100%;
}

/deep/.orgtree .el-select .el-input__inner {
    width: 100%;
    height: 26px;
}

/deep/.orgtree .el-select .el-input .el-input__icon {
    line-height: 26px;
}

.dialog-content .state-dialog {
    display: block;
}

.dialog-content .action {
    padding: 5px 0;
    color: #333;
    span {
        padding: 0 5px;
    }
}